.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background:#195544 ;
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-logo p{
    color: #f7f6f6;
    font-size: 30px;
    font-weight: 700;
    margin: 15px 0 0 0;
}
.footer-links{
    display: flex;
    list-style: none;
    gap: 50px;
    margin: 0 0 20px 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 200;
}
.foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 0 20px 0;
    color: #747474;
    font-size: 20px;
}
 .social_logo{
    gap: 50px;
    justify-content: space-between;
}
.social_logo img{
margin: 10px;
}
.footer hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #51aa91 ;
    margin: 0;
}
@media screen and (max-width: 768px) and (min-width: 550px){
    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background:#195544 ;
    }
    .footer-logo{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .footer-logo p{
        color: #f7f6f6;
        font-size: 25px;
        font-weight: 700;
        margin: 15px 0 0 0;
    }
    .footer-links{
        display: flex;
        list-style: none;
        gap: 30px;
        padding: 0;
        margin: 0;
        color: #ffffff;
        font-size: 20px;
        font-weight: 200;
    }
    .foot{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: 0 0 20px 0;
        color: #747474;
        font-size: 20px;
    }
     .social_logo{
        gap: 50px;
        justify-content: space-between;
    }
    .social_logo img{
        margin: 10px;
    }
    .foot p {
        font-size: 15px;
    }
    .footer hr{
        width: 80%;
        border: none;
        border-radius: 10px;
        height: 3px;
        background: #51aa91 ;
        margin: 0;
    } 
}